// Button Component
@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.button {
  @include button-base;

  &.variant-primary {
    background-color: $color-primary;
    color: $color-text-inverse;

    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
    }

    &:active:not(:disabled) {
      background-color: $color-primary-dark;
      transform: scale(0.98);
    }
  }

  &.variant-secondary {
    background-color: $color-secondary;
    color: $color-text-inverse;

    &:hover:not(:disabled) {
      background-color: $color-secondary-dark;
    }
  }

  &.variant-outline {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover:not(:disabled) {
      background-color: rgba($color-primary, 0.1);
    }
  }

  &.variant-danger {
    background-color: $color-danger;
    color: $color-text-inverse;

    &:hover:not(:disabled) {
      background-color: $color-danger-dark;
    }
  }

  &.variant-ghost {
    background-color: transparent;
    color: $color-text-primary;

    &:hover:not(:disabled) {
      background-color: $color-bg-secondary;
    }
  }

  &.size-sm {
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-sm;
  }

  &.size-md {
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-base;
  }

  &.size-lg {
    padding: $spacing-md $spacing-lg;
    font-size: $font-size-lg;
  }

  &.fullWidth {
    width: 100%;
  }
}
